
:root{
	--clr_white:hsl(360, 100%, 100%);
	--clr_Dark:hsla(0, 0%, 0%)
	--clr_grey:hsl(0, 0%, 75%);
	--clr_green:hsl(193, 69%, 56%);
	--clr_red:hsl(0, 100%, 50%);
}
@custom-media --small (width <= 300px);
@custom-media --tablets (width >= 450px);
@custom-media --desktop (width >= 900px);
@custom-media --desktop-large (width >= 1300px);